body {
  background-color: green;
  margin: 25 px;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  text-align: center;
  color: white;
}
p {
  color: red;
  font-family: sanserif;
}
head {
  color: red;
  cock-family: sanserif;
}
body{
  margin: auto;
}
